﻿@{
	ViewBag.Title = "Home Page";
}
@using LettersControlSystem.Entity
@using Newtonsoft.Json
@model LettersControlSystem.Models.LettersListViewModel

<div class="mt-3">
	<form>
		<p>
			<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
				Фильтр
			</a>
			<button type="button" class="btn btn-success" data-toggle="modal" data-target=".add-letter-modal">
				Зарегистрировать входящее письмо
			</button>
		</p>
		<div class="collapse" id="collapseExample">
			<div class="card card-body">
				@Model.OrgId
			</div>
		</div>
	</form>

	<div class="modal fade add-letter-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Зарегистрировать входящее письмо</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				@using (Html.BeginForm("AddLetter", "Home"))
				{
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-3 col-form-label">ФИО отправителя</label>
							<div class="col-9">
								<input class="form-control col-12" type="text" value="" name="customer">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-3 col-form-label">Описание</label>
							<div class="col-9">
								<input class="form-control col-12" type="text" value="" name="description">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-3 col-form-label">Дата</label>
							<div class="col-9">
								<div class='input-group date datetime-input'>
									<input type='text' class="form-control" name="date"/>
									<span class="input-group-addon">
										<button class="btn btn-outline-secondary" type="button">
											<i class="far fa-calendar-alt"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
						<button id="add-letter-submit-button" type="submit" class="btn btn-primary">Зарегистрировать</button>
					</div>
				}
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h2>Письма</h2>
	<p>Список зарегистрированных писем</p>
	<table id="letters-table" class="table table-striped">
		<thead>
			<tr>
				<th>Номер</th>
				<th>От кого</th>
				<th>Описание</th>
				<th>Дата</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var letter in Model.Letters)
			{
				<tr>
					<td>@letter.Number</td>
					<td>@letter.Customer</td>
					<td>@letter.Description</td>
					<td>@letter.Date</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section Scripts {
	<script type="text/javascript">
		$(function() {
			$('.datetime-input').datetimepicker({
				format: "DD/MM/YYYY"
			}).on('dp.change',
				function(e) {
					$(this).data('DateTimePicker').hide();
				});
		});
	</script>
}