﻿@using Microsoft.Owin.Security
@model LettersControlSystem.Models.ExternalLoginListViewModel

<h4>Используйте для входа другую службу.</h4>
<hr/>
@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
	if (loginProviders.Count() == 0)
	{
		<div>
			<p>
				Внешние службы проверки подлинности не настроены. Подробности о настройке входа через внешние службы для этого приложения ASP.NET
				см. в <a href="https://go.microsoft.com/fwlink/?LinkId=403804">этой статье</a>.
			</p>
		</div>
	}
	else
	{
		using (Html.BeginForm("ExternalLogin", "Account", new {Model.ReturnUrl}))
		{
			@Html.AntiForgeryToken()
			<div id="socialLoginList">
				<p>
					@foreach (var p in loginProviders)
					{
						<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
					}
				</p>
			</div>
		}
	}
}