﻿@model LettersControlSystem.Models.ExternalLoginConfirmationViewModel
@{
	ViewBag.Title = "Регистрация";
}
<h2>@ViewBag.Title.</h2>
<h3>Связывание вашей учетной записи @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
	@Html.AntiForgeryToken()

	<h4>Форма связи</h4>
	<hr/>
	@Html.ValidationSummary(true, "", new {@class = "text-danger"})
	<p class="text-info">
		Вы успешно прошли проверку подлинности через <strong>@ViewBag.LoginProvider</strong>
		Введите имя пользователя на этом сайте ниже и нажмите кнопку "Зарегистрировать", чтобы завершить
		вход.
	</p>
	<div class="form-group">
		@Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
			@Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Регистрация"/>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}