﻿@{
	ViewBag.Title = "Подтверждение пароля (если он был забыт)";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
</hgroup>
<div>
	<p>
		Проверьте электронную почту, чтобы сбросить пароль.
	</p>
</div>