﻿@using LettersControlSystem.Models
@model LettersControlSystem.Models.LoginViewModel
@{
	ViewBag.Title = "Выполнить вход";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
	<div class="col-md-8">
		<section id="loginForm">
			@using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
			{
				@Html.AntiForgeryToken()
				<h4>Используйте локальную учетную запись для входа.</h4>
				<hr/>
				@Html.ValidationSummary(true, "", new {@class = "text-danger"})
				<div class="form-group">
					@Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
					<div class="col-md-10">
						@Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
						@Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
					<div class="col-md-10">
						@Html.PasswordFor(m => m.Password, new {@class = "form-control"})
						@Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<div class="checkbox">
							@Html.CheckBoxFor(m => m.RememberMe)
							@Html.LabelFor(m => m.RememberMe)
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Выполнить вход" class="btn btn-default"/>
					</div>
				</div>
				<p>
					@Html.ActionLink("Регистрация нового пользователя", "Register")
				</p>
                @* Включите, когда будет включено подтверждение учетной записи для функции сброса пароля
                    <p>
                        @Html.ActionLink("Забыли пароль?", "ForgotPassword")
                    </p>*@
			}
		</section>
	</div>
	<div class="col-md-4">
		<section id="socialLoginForm">
			@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel {ReturnUrl = ViewBag.ReturnUrl})
		</section>
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}