﻿@model LettersControlSystem.Models.RegisterViewModel
@{
	ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
	@Html.AntiForgeryToken()
	<h4>Создайте новую учетную запись.</h4>
	<hr/>
	@Html.ValidationSummary("", new {@class = "text-danger"})
	<div class="form-group">
		@Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
		<div class="col-md-10">
			@Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
		<div class="col-md-10">
			@Html.PasswordFor(m => m.Password, new {@class = "form-control"})
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-md-2 control-label"})
		<div class="col-md-10">
			@Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" class="btn btn-default" value="Регистрация"/>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}