﻿@{
	ViewBag.Title = "Подтверждение сброса пароля";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
</hgroup>
<div>
	<p>
		Ваш пароль сброшен. @Html.ActionLink("Щелкните здесь для входа", "Login", "Account", null, new {id = "loginLink"})
	</p>
</div>