﻿@using LettersControlSystem.Entity
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title – приложение ASP.NET</title>
		@Styles.Render("~/Content/css")
		@* @Styles.Render("~/Content/fontawesome") *@
		@Scripts.Render("~/bundles/modernizr")
		@Scripts.Render("~/bundles/jquery")

	</head>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">@CurrentUser.OrganizationName: Система учета писем</a>
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#about">Входящие</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#services">Исходящие</a>
					</li>
				</ul>
			</div>
			@Html.Partial("_LoginPartial")
		</div>
	</nav>
	<body>
		<div class="container">
			@RenderBody()
			<hr/>
			<footer>
				<p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
			</footer>
		</div>
		
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", false)
	</body>
</html>