﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
	using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
	{
		@Html.AntiForgeryToken()
		<ul class="navbar-nav navbar-right">
			<li class="nav-item">
				@Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", null, new {title = "Manage", @class = "nav-link"})
			</li>
			<li class="nav-item">
				<form action="javascript:document.getElementById('logoutForm').submit()">
					<input class="btn btn-danger" type="submit" value="Выйти"/>
				</form>
			</li>
		</ul>
	}
}
else
{
	<ul class="navbar-nav navbar-right">
		<li class="nav-item">
			@Html.ActionLink("Регистрация", "Register", "Account", null, new {id = "registerLink", @class = "nav-link"})
		</li>
		<li class="nav-item">
			@Html.ActionLink("Выполнить вход", "Login", "Account", null, new {id = "loginLink", @class = "nav-link"})
		</li>
	</ul>
}