﻿@using Microsoft.Owin.Security
@model LettersControlSystem.Models.ManageLoginsViewModel
@{
	ViewBag.Title = "Управление внешними именами входа";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
@{
	var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
	if (loginProviders.Count() == 0)
	{
		<div>
			<p>
				Внешние службы проверки подлинности не настроены. Подробности о настройке входа через внешние службы для этого приложения ASP.NET
				см. в <a href="https://go.microsoft.com/fwlink/?LinkId=313242">этой статье</a>.
			</p>
		</div>
	}
	else
	{
		if (Model.CurrentLogins.Count > 0)
		{
			<h4>Зарегистрированные имена входа</h4>
			<table class="table">
				<tbody>
					@foreach (var account in Model.CurrentLogins)
					{
						<tr>
							<td>@account.LoginProvider</td>
							<td>
								@if (ViewBag.ShowRemoveButton)
								{
									using (Html.BeginForm("RemoveLogin", "Manage"))
									{
										@Html.AntiForgeryToken()
										<div>
											@Html.Hidden("loginProvider", account.LoginProvider)
											@Html.Hidden("providerKey", account.ProviderKey)
											<input type="submit" class="btn btn-default" value="Удалить" title="Удалить это имя входа @account.LoginProvider из вашей учетной записи"/>
										</div>
									}
								}
								else
								{
									@: &nbsp;
								}
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
		if (Model.OtherLogins.Count > 0)
		{
			using (Html.BeginForm("LinkLogin", "Manage"))
			{
				@Html.AntiForgeryToken()
				<div id="socialLoginList">
					<p>
						@foreach (var p in Model.OtherLogins)
						{
							<button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Войти с помощью учетной записи @p.Caption">@p.AuthenticationType</button>
						}
					</p>
				</div>
			}
		}
	}
}